<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    {% include "includes.html" %}

  </head>
  <body>

    {% include "header.html" %}

    <!-- Write about us content here -->
    <div class="about-body" style="padding-left: 20%; padding-right: 20%; padding-bottom: 50px; padding-top: 40px">

      <h1 style="font-family: system-ui"><b>About Us</b></h1>
      <br>
      <br>

      <p style="font-size: 17px">

        <b style="font-size: 20px">BookShelf.com</b> aims to provide all the well known standard books in a well categorized format, all accumulated in one place i.e. website.
        It will help the students and learners to find probably the best books of the world in a particular field.<br><br>

        This website is created for the programmers who want to learn the demanding languages like C,C++,Python and Java.<br>
        The aim of the website is to provide the books of the best writers of the respective language.<br><br>

        We try to find some well recognized standard books of a particular language which could help a learner to understand the computer language
        and concepts more precisely so that he/she is able to catch the core of the language clearly and easily.<br><br>

        <i>This website supports the user privacy and assures that your data will not be shared publically</i>.
    </p>

    </div>

    {% include "footer.html" %}

  </body>
</html>
