<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    {% include "includes.html" %}

  </head>

  <style>
    body h1 {
      color: rgb(17, 65, 145);
      {#border: solid rgb(17, 65, 145);#}
      /* background: rgba(101, 178, 238, 0.15); */
      {#border-width: 0.5px 0px;#}
    }

    .card {
      /* border: solid rgb(17, 65, 145); */
      {#background: rgba(101, 178, 238, 0.15);#}
      /* border-width: 1px; */
    }

    .footer-small {
        margin-top: 50%;
    }

  </style>

  <body>
    
    {% include "header.html" %}

    <div class="category-name">
      <h1>{{ category }} Books</h1>
    </div>

    <div class="card-container">

        {% for row in rows %}

        <div class="card">
            <img class="card-img-top" src="{{ row['img'] }}" alt="Card image" style="width:100%">
            <div class="card-body">         
              <br>
              <form action="/book" method="post">
                <input class="hide" type="text" name="bookid" value="{{ row['id'] }}">
                <button type="submit" class="btn btn-default btn-text"><b>{{ row['title'] }}<br>{{ row['author'] }}</b></button>
              </form>
            </div>
          </div>

        {% endfor %}

      



        <!-- Add more books here -->

    </div>

    {% include "footer.html" %}

  </body>
</html>
