<footer class="footer-large">
    <div class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            <h4><img style="height: 40px" src="{{ url_for('static', filename='assets/images/favicon/android-chrome-192x192.png') }}" alt="logo"> &nbspBookShelf.com </h4>
            <p>
              BookShelf.com aims to provide all the well known standard books in well categorized format, all accumulated in one place i.e. website. It will help the students and learners and to find probably the best books of the world in a
              particular field.
            </p>
          </div>
          <div class="col-lg-3 col-sm-2 col-xs-3">
            <h3> Contact </h3>
            <ul>
              <li>
                <p> Computer Science and Engineering Department PSIT </p>
              </li>
              <li>
                <p> Bhauti, Kanpur-209305 </p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-2 col-xs-3">
            <ul>
              <li>
                <h5> <a href="/about" style="margin-top: 5em"> ABOUT US</a>
                  </h5>
              </li>
              <li>
                <h5><a href="mailto:bookshelf.appodex@gmail.com?subject=Feedback%20for%20BookShelf.com"> CONTACT US </a>
                  </h5>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="pull-left copyright">© Made with ❤️ by <img src="{{ url_for('static', filename='assets/images/appodex_dev_ico_white.png') }}" style="height: 40px; width: auto; margin-bottom: 5px; margin-left: 3px;" alt=""></p>

        </div>
      </div>
    </div>
</footer>


<footer class="footer-small">
    © Made with ❤️ by <img src="{{ url_for('static', filename='assets/images/appodex_dev_ico_white.png') }}" style="height: 40px; width: auto; margin-bottom: 5px; margin-left: 3px;" alt="">
</footer>