<style>
  .hide{
    display: none;
  }

  .navbar-small {
      display: none;
  }

  @media only screen and (max-width: 600px) {
      .header {
          display: none;
      }

      .navbar-small {
          display: block;
      }
  }

  button {
    width: 100%;
  }

</style>

<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light" style="margin-bottom: 0; border-radius: 0;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="font-family: 'Righteous', cursive; color: #002147; font-size: 25px">
            <b>CS BookShelf.com</b></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
              
              <li>
                <form action="/category" method="post">
                  <input class="hide" type="text" name=category value="C">
                  <button type="submit">C</button>
                </form>
              </li>
              <li>
                <form action="/category" method="post">
                  <input class="hide" type="text" name=category value="CPP">
                  <button type="submit">C++</button>
                </form>
              </li>
              <li>
                <form action="/category" method="post">
                  <input class="hide" type="text" name=category value="Java">
                  <button type="submit">Java</button>
                </form>
              </li>
              <li>
                <form action="/category" method="post">
                  <input class="hide" type="text" name=category value="Python">
                  <button type="submit">Python</button>
                </form>
              </li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
          <li><a href="mailto:bookshelf.appodex@gmail.com?subject=Feedback%20for%20BookShelf.com">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- Search form -->
            <!-- Search form -->
            <li style="margin-top: 8px;">
{#            <div class="input-group mb-3">#}

                <form action="/search" method="post">
                    <div class="input-group">
                        <input name="search_query" class="form-control width100" style="width: 250px;" placeholder="Search Books">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </span>
                    </div>
                </form>

{#                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
            </li>
            <li style="margin-top: 8px; margin-left: 3px; margin-right: 5px">

            </li>
{#            <li><a>{{ name }}</a></li>#}
            <li><a>{{ name }}</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span>&nbsp&nbspLogout</a></li>
        </ul>
      </div>
    </nav>
  </div>

<div class="navbar-small" style="width: 100%;">

    <div class="heading" style="width: 100%; display: flex; justify-content: center;
     font-family: 'Righteous', cursive; color: #002147; font-size: 25px; margin-top: 10px; margin-bottom: 10px">
        <a href="/" style="color: black">CS BookShelf</a>
    </div>
    <form action="/search" method="post" style="width: 100%; display: flex; justify-content: center;">
        <div class="input-group">
            <input name="search_query" class="form-control width100" style="width: 250px;" placeholder="Search Books">
            <span class="">
                <button type="submit" class="btn btn-primary" style="width: 70px">Search</button>
            </span>
        </div>
    </form>

</div>