<meta charset="utf-8">
  <!-- to make the website responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/images/favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/images/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="../res/favicon/site.webmanifest">
  <!-- Local CSS Stylesheet -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <!-- local header stykesheet -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}"> -->
  <!-- local footer stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
  <!-- Latest compiled and minified CSS -->
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">#}
{#    <!-- jQuery library -->#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#  <!-- Latest compiled JavaScript -->#}
{#  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>#}
 <!-- local cards stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/cards.css') }}">
  <!-- API for Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->