<meta charset="utf-8">
  <!-- to make the website responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="res/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../res/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../res/favicon/favicon-16x16.png">
  <link rel="manifest" href="../res/favicon/site.webmanifest">
  <!-- Local CSS Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <!-- local header stykesheet -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}"> -->
  <!-- local footer stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
  <!-- local cards stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/cards.css') }}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- API for Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->