body {
    height: 100vh;
    width:100vw;
    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
}

.register-form {
    text-align: center;
    /* padding: 2%; */
    position: fixed;
    height: fit-content;
    width: 30%;
    top: 23%;
    left: 35%;
}

.register-form .heading {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

.register-form form {
    margin: 5%;
}

@media only screen and (max-width: 600px) {
    .register-form {
        text-align: center;
        /* padding: 2%; */
        position: fixed;
        height: fit-content;
        width: 90%;
        top: 23%;
        left: 5%;
    }
}